.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #121212;
    color: #f0f0f0;
}

.content {
    min-height: 100vh;
    min-width: 100vw;
    margin-left: calc(var(--menubar-width) + 1rem);
    margin-top: 1rem;
}