.page {
    min-height: 100vh;
    display: flex;
    color: #f0f0f0;
}

.scroll-page {
    position: absolute;
    min-height: 100%;
    left: var(--navigationbar-width);
    z-index: var(--z-bot);
    background-color: var(--primary-background-color);
}

.top-bar {
    min-width: 100%;
    min-height: fit-content;
    transition: 0.5s;
}

.content {
    min-width: 100%;
    top: var(--topbar-height);
}

.navigation-bar {
    position: fixed;
    top:0;
    background-color: var(--secondary-background-color);
    z-index: calc(var(--z-bot) + 1);
    transition: 0.5s;
}

.show-nav {
    position: absolute;
    left: var(--navigationbar-width);
    bottom: 5rem;
    height: 3rem;
    width: 3rem;
    background-color: var(--secondary-background-color);
    font-size: 2rem;
    text-align: center;
    
    .arrows {
        position: relative;
        margin: 0;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.show {
    animation: show 0.5s;
    animation-fill-mode: forwards;
}

.hide {
    animation: hide 0.5s;
    animation-fill-mode: forwards;
}

@media all and (max-width: 750px) {
    .scroll-page {
        animation: extend 0.5s;
        animation-fill-mode: forwards;
    }   
}

@media all and (min-width: 750px) {
    .scroll-page {
        animation: compress 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes extend {
    0% {
        min-width: calc(100vw - var(--navigationbar-width));
        left: var(--navigationbar-width);
    }
    100% {
        min-width: 100vw;
        left: 0;
    }
}

@keyframes compress {
    0% {
        min-width: 100vw;
        left: 0;
    }
    100% {
        min-width: calc(100vw - var(--navigationbar-width));
        left: var(--navigationbar-width);
    }
}

@keyframes hide {
    0% {
        left: 0;
    }
    100% {
        left: calc( -1 * var(--navigationbar-width) );
    }
}

@keyframes show {
    0% {
        left: calc( -1 * var(--navigationbar-width) );
    }
    100% {
        left: 0;
    }
}