.page {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--primary-background-color);
    color: #f0f0f0;
}

.left-page {
    position: relative;
    min-height: 100%;
    width: calc(100vw - var(--menubar-width));
    left:var(--menubar-width);
}

.content {
    padding: 1rem;
}