.home-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vw;
}

.known-tech {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}