.btn-content-wrapper {
    background-color: black;
    margin: auto;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
}

.button:visited {
    color: whitesmoke;
    text-decoration: none; 
}

.button:link {
    color: whitesmoke;
    text-decoration: none; 
}

.button:hover {
    color: yellow;
    text-decoration: none;
}

.button:hover { text-decoration: none; }

.button:active { text-decoration: none; }