.navigation-bar {
    width: var(--navigationbar-width);
    background-color: var(--secondary-background-color);
    height: 100vh;
}

.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    --logo-spacing: calc((var(--navigationbar-width) / 2) - (120px / 2));
    position: absolute;
    width: 120;
    top: var(--logo-spacing);
    left: var(--logo-spacing);
}

.copywright {
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: var(--navigationbar-width);
}

