:root {
    --number-btn-size: 4rem;
    --number-btn-spacing: 0.25rem;
    --number-per-row: 3;
}

.calculator{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc( 2rem + ( 4 * var(--number-btn-size) ));
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: solid;
    background-color: #282833;
}

.buttons {
    position: relative;
}

.calc-btn {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin: var(--number-btn-spacing);
    width: var(--number-btn-size);
    height: var(--number-btn-size);
    font: inherit;
}

.numbers {
    width: calc(
        (
            var(--number-per-row) * 
            var(--number-btn-size) 
        ) + (
            2 *
            ( var(--number-per-row) + 1 ) *
            var(--number-btn-spacing)
        )
    );
}

.number-0 {
    width: calc(
        (
            var(--number-per-row) * 
            var(--number-btn-size) 
        ) + (
            2 *
            ( var(--number-per-row) - 1 ) *
            var(--number-btn-spacing)
        )
    );
}

.symbols {
    position: absolute;
    top: 0;
    left: calc(
        (
            var(--number-per-row) * 
            var(--number-btn-size) 
        ) + (
            2 *
            ( var(--number-per-row) ) *
            var(--number-btn-spacing)
        )
    );
}

.function-eq {
    width: calc(
        (
            2 * 
            var(--number-btn-size) 
        ) + (
            2 *
            var(--number-btn-spacing)
        )
    );
}

.display {
    position: relative;
    top: 0;
    left: var(--number-btn-spacing);
    height: 3rem;
    width: calc(
        (4 * var(--number-btn-size)) +
        (4 * var(--number-btn-spacing))
    );
    color: var(--primary-text-color);
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--primary-text-color);
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--primary-background-color);
    margin-bottom: 2rem;
}

.arrow-left {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}

/* TODO make this ocal to just the calculator
::-webkit-scrollbar {
    height: 5px;
    z-index: 0;
}
  
::-webkit-scrollbar-track {
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 1px;
    background: transparent; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}
   
::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 2px;
    background: var(--primary-text-color); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary-text-color); 
}
*/