:root {
  --primary-background-colour: #1e90ff;
  --secondary-background-colour: #ffffff;
  --tertiary-background-colour: #000000;

  --primary-text-color: #ff1e1e;
  --secondary-text-colour: #000000;
  --tertiary-text-colour: #ffffff;

  --menubar-width: 10vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


