.content {
    position: relative;
    padding: 3rem;
}

.graph {
    position: relative;
    width: 60%;
    padding:3rem;
}

.equation {
    position: relative;
    height: 50px;
    margin-bottom: 1rem;
    white-space: nowrap;

    .left {
        position: absolute;
        top: 27px;
        transform: translateY(-50%);
        left: 0;
        padding: 0;
        margin: 0;
    }

    .bracket {
        position: absolute;
        font-size: 50px;
        height: 50px;
        top: 18px;
        transform: translateY(-50%);
        left: 50px;
        padding: 0;
        margin: 0;
    }

    .top {
        position: absolute;
        left: 80px;
        top: 0;
        padding: 0;
        margin: 0;
        font-family: 'Audiowide';
    }

    .bot {
        position: absolute;
        left: 80px;
        bottom: 0;
        padding: 0;
        margin: 0;
        font-family: 'Audiowide';
    }

    .for {
        position: absolute;
        width: fit-content;
        top: inherit;
        bottom: inherit;
        left: 80px;
        padding: 0;
        margin: 0;
    }
}

@media all and (min-width: 1000px) {
    .collatz {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }
    .content {
        width: 40%;
    }
    .graph {
        width: 60%;
    }
}

@media all and (max-width: 1000px) {
    .collatz {
        display: block;
    }
    .content {
        width: calc(100% - 6rem);
    }
    .graph {
        width: calc(100% - 6rem);
    }
}
