.content {
    width: 40%;
    padding: 3rem;
    height: 100%;
}

.graph {
    position: relative;
    width: 60%;
    height: 100%;
    padding:3rem;
}

@media all and (min-width: 1000px) {
    .collatz {
        display: flex;
        align-items: center;
    }


}

@media all and (max-width: 1000px) {
    .collatz {
        display: block;
    }
}
