.content {
    position: relative;
    width: 40%;
    padding: 3rem;
    height: 100%;
}

.graph {
    position: relative;
    width: 60%;
    height: 100%;
    padding:3rem;
}

.equation {
    position: relative;
    height: 50px;
    margin-bottom: 1rem;

    .left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding: 0;
        margin: 0;
    }

    .bracket {
        position: absolute;
        font-size: 50px;
        height: 50px;
        top: 18px;
        transform: translateY(-50%);
        left: 50px;
        padding: 0;
        margin: 0;
    }

    .top {
        position: absolute;
        left: 100px;
        top: 0;
        padding: 0;
        margin: 0;
        font-family: 'Audiowide';
    }

    .bot {
        position: absolute;
        left: 100px;
        bottom: 0;
        padding: 0;
        margin: 0;
        font-family: 'Audiowide';
    }
}

@media all and (min-width: 1000px) {
    .collatz {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }
}

@media all and (max-width: 1000px) {
    .collatz {
        display: block;
    }
}
