.resume {
    --width: 1000px;
    position: relative;
    width: var(--width);
    min-height: calc(100% - 2rem);
    background-color: var(--tertiary-background-color);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    left: calc(50% - var(--width) / 2);
}

.line {
    position: relative;
    width: calc(100% - 2rem);
    height: 2px;
    background-color: var(--primary-text-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 1rem;
}

.email {
    color: var(--primary-text-color);
    text-decoration: none;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}