:root {
    --width: 1000px;
}

.resume {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: var(--width);
    min-width: var(--width);
    padding: 1rem;
}

.resume-content {
    width: calc(var(--width) - 2rem);
    background-color: var(--tertiary-background-color);
    text-align: center;
    padding: 1rem;
}

.line {
    position: relative;
    width: calc(100% - 2rem);
    height: 2px;
    background-color: var(--primary-text-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 1rem;
}

.email {
    color: var(--primary-text-color);
    text-decoration: none;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}